# IDE & OS specific
.DS_Store
.idea

# Logs
logs
*.log

# Dependencies
node_modules

# Coverage
coverage

# Types
flow-typed/npm/*
!flow-typed/npm/module_vx.x.x.js

# Release
lib

# Not wanted on source control
# code to be migrated
old_code


